<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Locations Index Page</h1>
        <ul>
            <!-- looping through locations to make list items -->
            <li>
                <a href="/locations/<%=locations[i]._id%>">
                    <%=locations[i].name%>
                </a>
            </li>
        </ul>
    </body>
</html>
