<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Modern Mountain Sounds</title>

        <!-- skeleton framework -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">

    </head>
    <body>
        <h1>Modern Mountain Music</h1>

        <h4>Striving to bring the names of progressive artists and bands to the foreground and celebrate the various countries, races, and experiences these artists bring to the table.</h4>

        <nav>
            <a style="background-color:#FABDA5;color:white;" class="button" href="/index/new">Add a Band</a>

        </nav>

        <table class="u-full-width">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Would you like to...</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < bands.length; i ++) { %>
                    <tr>
                        <!-- imgage and name -->
                        <td><img style="width:500px;height:auto;" src="<%=bands[i].image%>"</td>
                        <td><%=bands[i].name%></td>

                        <!-- view/delete buttons -->

                        <!-- view -->
                        <td>
                            <form action="/index/<%=bands[i]._id%>" method="GET">
                                <input class="button-primary" type="submit" value="View Band">
                            </form>
                        </td>

                        <!-- delete -->
                        <td>
                            <form action="/index/<%=bands[i]._id%>?_method=DELETE" method=POST>
                                <input style="background-color:#B5403A;color:white;" type="submit" value="Delete Band">
                            </form>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </body>
</html>
